@model DoAnNhom8.Models.KHACH

@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Thông tin khách hàng</h2>
        <hr />

        <dl class="row">
            <dt class="col-sm-4">Tên khách hàng:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.TenKhach)</dd>

            <dt class="col-sm-4">Tên đăng nhập:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.TENDN)</dd>

            <dt class="col-sm-4">Mật khẩu:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.MATKHAU)</dd>

            <dt class="col-sm-4">Số điện thoại:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.SDT)</dd>

            <dt class="col-sm-4">Ngày sinh:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.NGAYSINH)</dd>

            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.EMAIL)</dd>

            <dt class="col-sm-4">Địa chỉ:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DIACHI)</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    @Html.ActionLink("Trở lại", "List_KhachHang", null, new { @class = "btn btn-secondary" })
</div>
